Package: gcc7
Version: 7.5.0-4arch
Architecture: amd64
Maintainer: Ben <bensongsyz@gmail.com>
Installed-Size: 603296
Depends: gcc7-libs (=7.5.0-4arch), build-essential, libgmp-dev, m4, zlib1g-dev, python3
Provides: c-compiler
Section: devel
Priority: optional
Homepage: http://gcc.gnu.org/
Description: The GNU Compiler Collection - C and C++ frontends (7.x.x)
            For Ubuntu 22.04
